{% extends '@HomePlugin/base.html.twig' %}

{% block title %}Hello world from React!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app', {'defer': true}) }}
{% endblock %}

{% block styles %}
    {{ encore_entry_link_tags('styles') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}