{% extends '@ReactPlugin/base.html.twig' %}

{% block title %}Hello world from React!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app', {'defer': true}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}
